# Postgres povezava (Dokploy interno omrezje)
DATABASE_URL=postgres://vprasalniki_app:vstavi_geslo@bazavprasalnikov-db-99dpzg:5432/vprasalniki

# Server port
PORT=3000

# Basic auth za /api/* endpointe (Faza 4)
ADMIN_USER=ai@acenta.si
ADMIN_PASS=vstavi_geslo

# Anthropic API (Faza 3)
ANTHROPIC_API_KEY=vstavi_kljuc

# Node okolje
NODE_ENV=production
